<!-- Assignment 1, Alexandru Capatina, Student number: 300644707, 5th of June 2022-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section-->
  <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./Content/app.css">
</head>
<body>
  <header>
    <%- include('Components/header.ejs'); %>
    <!-- Main Navigation -->
  </header>
  
  <!-- Content Section-->
  <main>
    <!-- Content goes here-->
    <%- include('Content/' + page + '.ejs'); %>
  </main>
  
  <footer>    
    <!-- Site-wide footer section-->
    <%- include('Components/footer.ejs'); %>
  </footer>

  <!--JavaScript section-->
  <script src="./jquery/dist/jquery.min.js"></script>
  <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>
  <script src="./Scripts/app.js"></script>
</body>
</html>
