<div class="container">
    <p>Alexandru Capatina</p>
    <p><img src="../../../Client/Assets/images/Alex_self.png" alt="Alex"></p>
    <p>My name is Alexandru Capatina and I'm a student at Centennial College in the Software Engineer program.</p>
</div>