<div class="container">
    <p>Alexandru Capatina</p>
    <p><img src="./Assets/images/Alex_self.png" alt="Alex" width="190" height="300"></p>
    <p>My name is Alexandru Capatina and I'm a student at Centennial College in the Software Engineer program.</p>
    <p>Click <a href="./Assets/images/Alex's Resume GL.pdf">here</a> to see my resume</p>
</div>