<div class="container">
    <h1><%= title %></h1>
    <p>Hi, my name is Alex and I welcome you to my EJS porfolio page.</p>
    <p>The site contains several past projects, services that I provide, and also how to contact me.</p>
    <p>I want to offer the best services for my clients and go above their expectations.</p>
    <p>Have a nice stay!</p>
    <span><p>You can click <a class="nav-link" aria-current="page" href="/about">here</a> to learn more about me.</p></span>
    
</div>