<div class="container">
    <h1><%= title %></h1>
    <ul>
        <li>
            <h4>Javascript short project</h4>
            <p>This was a short project in which I had to implement javascript language in order to create a game. Each time to click on the bug, the respawn time decreases,
                and the score goes up every time you catch the bug</p>
            <img src="./Assets/images/BugGame.PNG" alt="Java game" width="350" height="300">
            
        </li>
        <li>
            <h4>Form using REGEX</h4>
            <p>In this project I had to implement several codnitions for each box using REGEX.</p>
            <img src="./Assets/images/REGEXform.PNG" alt="Form" width="320" height="300">
            
        </li>
        <li>
            <h4>Table generator</h4>
            <p>This is a table generator. It takes the numbers of rows and columns desired by the user, and it creates a table.</p>          
            <img src="./Assets/images/RowProject.PNG" alt="Row" width="650" height="300">
            
            
        </li>
    </ul>
</div>