<div class="container">
    <h1><%= title %></h1>
    <ul>
        <li>General programming</li>
        <li>Web development</li>
        <li>Android app development</li>
        <li>Software debugging</li>
    </ul>
</div>